<% layout('/layouts/boilerplate.ejs') %> <%=success %>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">posts title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postModal">
            View More
         </button>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>